* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Cutive Mono', monospace;
  min-height: 100vh;
  transition: background-image 2s linear;
  transition-duration: 2s;
  background-size: cover;
}

#container {
  display: flex;
  justify-content: space-between;
  margin: 5rem 3rem 11rem 3rem;
}

#citate {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  display: flex;
  max-width: 49%;
  min-height: 15%;
  justify-content: space-around;
  align-items: center;
}

#quote {
 margin: 1rem;
 width: 97%;
}

#quote-text {
  font-size: 1.4rem;
  margin-bottom: 0.7rem;
}

#quote-autor {
  font-size: 1.2rem; 
}

#btn-small-right {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  margin-right: 1rem;
  width: 20px;
  height: 20px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
}

#btn-small-right:hover {
  opacity: .5
}

#weather {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0.1, 0.2, 0.2, 0.1);
  border-radius: 10px;
}

#city {
  font-size: 1.5rem;
}

#weather-temp,
#weather-desc {
  font-size: 1.2rem;
}

#wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 95%;
  margin-bottom: 1rem;
}

#btn-left,
#btn-right {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

#btn-left {
  width: 40px;
  height: 40px;
  border-top: 4px solid #fff;
  border-right: 4px solid #fff;
  transform: rotate(-135deg);
}

#btn-right {
  width: 40px;
  height: 40px;
  border-top: 4px solid #fff;
  border-right: 4px solid #fff;
  transform: rotate(45deg);
}

#btn-left:hover,
#btn-right:hover {
  opacity: .5
}

#content {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#time {
  font-size: 8.5rem;
}

#quote,
#time,
#date,
#greeting,
#name,
#tasks,
#focus {
  text-shadow: 0.5px 0.5px white, 
  0.5px 0.5px white, 
  -0.5px -0.5px white, 
  -0.5px -0.5px white, 
  -0.5px 0.5px white, 
  0.5px -0.5px white, 
  -0.5px 0.5px white, 2px 
  -0.5px white, 
  -0.5px -0.5px 0.5px rgba(0,0,0,.3), 
  -0.5px 0.5px 0.5px rgba(0,0,0,.3), 
  0.5px 0.5px 0.5px rgba(0,0,0,.3), 
 0.5px -0.5px 0.5px rgba(0,0,0,.3);
}

.active-text {
   text-shadow: 0.5px 0.5px white, 
  0.5px 0.5px white, 
  -0.5px -0.5px white, 
  -0.5px -0.5px white, 
  -0.5px 0.5px white, 
  0.5px -0.5px white, 
  -0.5px 0.5px white, 2px 
  -0.5px white, 
  -0.5px -0.5px 0.5px rgba(0,0,0,.3), 
  -0.5px 0.5px 0.5px rgba(0,0,0,.3), 
  0.5px 0.5px 0.5px rgba(0,0,0,.3), 
 0.5px -0.5px 0.5px rgba(0,0,0,.3);
}

#date {
  font-size: 2.8rem;
  margin-bottom: 1rem;
}

#name {
  display: inline-flex;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 1.7rem;
  margin-bottom: 0.5rem;
  opacity: 0.8;
}

@media(max-width: 768px) {
  #container {
    margin: 3rem 1rem 9rem 1rem;
  }

  #citate {
    max-width: 70%;
  }

  #quote-text {
    font-size: 1rem;
  }

  #quote-autor {
    font-size: 0.9rem;
  }

  #btn-small-right {
    width: 20px;
    height: 20px;
  }

  #btn-left,
  #btn-right {
    width: 20px;
    height: 20px;
  }

  #content {
    width: 80%;
  }

  #time {
    font-size: 5.5rem;
  }

  #date {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.2rem;
  }
}

@media(max-width: 468px) {
  #container {
    margin: 3rem 1rem 6rem 1rem;
  }

   #citate {
    max-width: 60%;
  }

  #time {
    font-size: 3.5rem;
  }

  #date {
    font-size: 1.5rem;
  }

  h1 {
    font-size: 1.2rem;
  }

  h2 {
    font-size: 1rem;
  }
}